@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: url(#threshold) blur(0.6px);
  width: 100vw;
  height: 100px;
  pointer-events: none; /* prevent interfering with interactions */
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 40pt;
  text-align: center;
  user-select: none;
  color: white;
}
